extends ../../app/pug/layout

block title
    | Школа 163 — История школы

block content
    +teacher-about({
        image: '../../assets/images/teachers/1.jpg',
        name: 'Антонова Лидия Викторовна',
        status: 'Директор школы',
        history: '<p>Закончила Государственный педагогический университет им. А.И. Герцена. Педагогический стаж — 22 года. Учитель и завуч высшей категории. С 2010 года руководит 163-й школой. Депутат Муниципального совета МО Смольнинское. </p>'
    }).border-bottom
    +year-section({
        title: '22',
        description: 'Года педагогического стажа'
    }).border-bottom
    +year-section({
        title: '2010',
        description: 'Год начала управления 163-й школой'
    }).border-bottom
    +paragraph({ texts: ['<p>РЫБА! Дополнительный текст выводится здесь! С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.</p>'] })
    +slider.border-bottom