mixin teacher-slider(props)
    .teacher-slider&attributes(attributes)
        .swiper-container.teacher-slider__container
            .swiper-wrapper
                .swiper-slide
                    +img({ src: '../../assets/images/teacher/slider/1.jpg' })
                .swiper-slide
                    +img({ src: '../../assets/images/teacher/slider/2.jpg' })
                .swiper-slide
                    +img({ src: '../../assets/images/teacher/slider/3.jpg' })
                .swiper-slide
                    +img({ src: '../../assets/images/teacher/slider/1.jpg' })
                .swiper-slide
                    +img({ src: '../../assets/images/teacher/slider/2.jpg' })
                .swiper-slide
                    +img({ src: '../../assets/images/teacher/slider/3.jpg' })
