.paragraph {
    $root: &;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    @include offset();

    @include media-breakpoint-up(xl) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2 {
        width: 100%;
        color: black;
        @include font(40, 100);
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 30px;

        @include media-breakpoint-up(xl) {
            margin-bottom: 76px;
        }
    }

    &__text {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-of-type(2n) {
            @include media-breakpoint-up(xl) {
                width: $col-width * 10;
            }
        }

        @include media-breakpoint-up(xl) {
            width: $col-width * 9;
        }

        & > {
            :first-child {
                margin-top: 0;
            }
    
            :last-child {
                margin-bottom: 0;
            }
        }
    
        p {
            color: $black;
            @include font(14, 20);
            line-height: 1.2;
            margin: 20px 0;

            @include media-breakpoint-up(xl) {
                margin: 26px 0;
            }
        }
    }
}