mixin paragraph(props)
    .paragraph&attributes(attributes)
        if props.title
            #{props.titleType || 'h2'}= props.title
        each text in props.texts
            .paragraph__text!= text
