mixin about-lead(props)
    .about-lead&attributes(attributes)
        h1 О школе
        .about-lead__info
            p Государственное бюджетное общеобразовательное учреждение средняя общеобразовательная школа № 163 Центрального района Санкт-Петербурга (ГБОУ школа № 163) является некоммерческой организацией — государственным бюджетным образовательным учреждением.
            p Средня численность класса 26 человек, при реальной наполнемости 513 человек. На текущий момент есть места для поступления в 10 и 4 класс.
        .about-lead__bottom
            .about-lead__bottom-description
                p Ученики 11 класса на практике
                span 1968 год
            .about-lead__bottom-image
                .about-lead__bottom-image-wrapper
                    +img({ src: '../../assets/images/about/1.jpg' })