extends ../../app/pug/layout

block title
    | Школа 163 — Главная

block content
    +home-hero.border-bottom
    +info-section.border-bottom
    +year-section({
        title: '1837',
        description: 'Год ввода в эксплуатацию'
    }).border-bottom
    +year-section({
        title: '513',
        description: 'Количество учеников'
    }).border-bottom
    +year-section({
        title: '26',
        description: 'Среднее количество учащихся в классе'
    }).border-bottom
    +latest-news.border-bottom
    +school-structure.border-bottom
    +teacher-section.border-bottom