extends ../../app/pug/layout
include ../../components/home-hero/home-hero
include ../../components/latest-news/latest-news
include ../../components/info-section/info-section
include ../../components/year-section/year-section
include ../../components/school-structure/school-structure
include ../../components/teacher-section/teacher-section

block title
    | Школа 163 — Главная

block content
    +home-hero.border-bottom
    +info-section.border-bottom
    +year-section({
        title: '1837',
        description: 'Год ввода в эксплуатацию'
    }).border-bottom
    +year-section({
        title: '513',
        description: 'Количество учеников'
    }).border-bottom
    +year-section({
        title: '26',
        description: 'Среднее количество учащихся в классе'
    }).border-bottom
    +latest-news.border-bottom
    +school-structure.border-bottom
    +teacher-section.border-bottom