mixin home-hero(props)
    .home-hero&attributes(attributes)
        h1 Школа с 223 летней 
            span историей
        .home-hero__image
            p Добро пожаловать на сайт школы №163 одно из старейших учебных заведений Петербурга.
            .home-hero__image-wrapper
                +img({ src: '../../assets/images/home/hero.jpg' })
            p Уже 223 года в стенах школы № 163 учат и воспитывают детей.
        .home-hero__history
            h2 В 1797
            p году в здание, построенное по проекту архитектора Андрея Ивановича Штакеншнейдера, переселились воспитанницы и служащие первого Российского Института – Мариинского женского Института! Он был основан 222 года назад Императрицей Марией Фёдоровной на её собственные средства как училище для сирот. 