.link-section {
    $root: &;
    position: relative;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 16px;
    @include offset();

    @include media-breakpoint-up(xl) {
        padding-top: 26px;
        padding-bottom: 20px;
    }

    a {
        color: black;
        @include font(14, 30);
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1.2;
        @include link(black);

        &:hover {
            svg {
                opacity: 1;
                visibility: visible;
            }
        }

        svg {
            width: 11px;
            height: 21px;
            stroke: black;
            opacity: 0;
            visibility: hidden;
            margin-left: 30px;
            transition: opacity .3s, visibility .3s;
        }
    }
}