extends ../../app/pug/layout

block title
    | Школа 163 — История школы

block content
    +history-lead
    +history-section({
        title: 'Мариинский институт',
        content: '<p>Школа № 163 — наследница славных традиций Мариинского института, созданного в 1800 году по инициативе Императрицы Марии Фёдоровны (супруги Павла I). Это учебное заведение предназначалось для воспитания девочек из среднего сословия, в том числе сирот.</p><p>Институт готовил прежде всего воспитательниц и учительниц, которых в то время крайне не хватало. Ряд учебных предметов преподавались на иностранных языках.</p><p>После смерти Марии Федоровны в 1828 году покровителями Института были Император Николай I и Великая княгиня Елена Павловна.</p><p>В 1837 году на углу Кирочной и Таврической улиц по проекту известного архитектора А.И. Штакеншнейдера было построено новое здание Мариинского института, в котором сейчас располагается школа № 163.</p><p>В школьном саду, где ныне футбольное поле и спортивные снаряды, были делянки для знакомства с ботаникой, дорожки и площадки для прогулок учениц.</p><p>Последний выпуск в Мариинском институте состоялся в 1918 году.</p>',
        image: '../../assets/images/history/1.jpg',
        imageTitle: 'Мариинский институт',
        imageDescription: '1968 год'
    })
    +history-section({
        title: 'Школа 1918-1945',
        content: '<p>С 1918 года в стенах института находился детский дом № 2, а в 1919 году открылось фабрично-заводская школа № 19. До 1924 года это была семилетка, а до 1931 — девятилетка (переименована в школу № 12). В 1936 году состоялся первый выпуск десятого класса. Во время Великой Отечественной войны в здании располагался госпиталь и призывной пункт народного ополчения.</p>',
        image: '../../assets/images/history/2.jpg',
        imageTitle: 'Выпуск IV класса (5-я слева во втором ряду снизу — Г.П. Зацкая)',
        imageDescription: '1926 год'
    }).reverse
    +history-section({
        title: 'Послевоенное время',
        content: '<p>С 1945 по 1955 год в здании работала 163 женская школа, а затем, до настоящего времени — общеобразовательная 163 школа.</p><p>В середине 90-х годов школа одной из первых в Петербурге получила статус экспериментальной площадки по внедрению дифференцированного обучения.</p><p>По результатам спортивных соревнований более 30 лет школа занимает первое место в Центральном районе (ранее — в Смольнинском).</p><p>Несколько лет подряд (с 2003 г.) школа занимала первое место в Центральном районе по результатам предметных олимпиад.</p><p>В 2006 г. школа награждена дипломом II степени Всероссийского конкурса «Организация воспитательного процесса в образовательных учреждениях».</p>',
        image: '../../assets/images/history/3.jpg',
        imageTitle: 'Школа в послевоенное время',
        imageDescription: '1968 год'
    }).border-bottom