extends ../../app/pug/layout

block title
    | Школа 163 — Детальная новости

block content
    +post-lead({
        title: 'Новогодняя елка',
        content: '<p>С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.</p>',
        image: '../../assets/images/post/1.jpg'
    })
    +paragraph({
        title: 'Заголовок страницы',
        titleType: 'h1',
        texts: [
            '<p>РЫБА! Дополнительный текст выводится здесь! С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.</p>',
            '<p>С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.</p>'
        ]
    })
    +image-section({ image: '../../assets/images/post/2.jpg' })
    +paragraph({
        title: 'Заголовок',
        texts: [
            '<p>РЫБА! Дополнительный текст выводится здесь! С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.</p>',
            '<p>С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.</p>'
        ]
    })
    +video({ src: 'https://www.youtube.com/watch?v=9v9xN4UmqS0' }).border-bottom
    +collapse({ title: 'Образовательные стандарты' }).border-bottom
        +link-download({ text: 'Федеральный закон «Об образовании в РФ»' })
        +link-download({ text: 'ФГОС начального общего образования (1-4 классы)' })
        +link-download({ text: 'ФГОС основного общего образования (5-9 классы)' })
        +link-download({ text: 'ФГОС полного общего образования (10-11 классы)' })
    +collapse({ title: 'Образовательные стандарты' }).border-bottom
        p С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года. Премьерный показ данного мероприятия планируется на федеральном детско-юношеском телеканале «Карусель» 31 декабря 2020 года в 18.00. Повторные показы запланированы 7 января 2021 года в 19.30 и 13 января 2021 года в 17.00.
    +history-section({
        title: 'Мариинский институт',
        content: '<p>Школа № 163 — наследница славных традиций Мариинского института, созданного в 1800 году по инициативе Императрицы Марии Фёдоровны (супруги Павла I). Это учебное заведение предназначалось для воспитания девочек из среднего сословия, в том числе сирот.</p><p>Институт готовил прежде всего воспитательниц и учительниц, которых в то время крайне не хватало. Ряд учебных предметов преподавались на иностранных языках.</p><p>После смерти Марии Федоровны в 1828 году покровителями Института были Император Николай I и Великая княгиня Елена Павловна.</p><p>В 1837 году на углу Кирочной и Таврической улиц по проекту известного архитектора А.И. Штакеншнейдера было построено новое здание Мариинского института, в котором сейчас располагается школа № 163.</p><p>В школьном саду, где ныне футбольное поле и спортивные снаряды, были делянки для знакомства с ботаникой, дорожки и площадки для прогулок учениц.</p><p>Последний выпуск в Мариинском институте состоялся в 1918 году.</p>',
        image: '../../assets/images/history/1.jpg',
        imageTitle: 'Мариинский институт',
        imageDescription: '1968 год'
    })
    +slider
    +latest-news.border-bottom
    +modal({
        id: 'photo-slider'
    })
        +modal-slider