.collapse {
    $root: &;
    position: relative;

    &__head {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 26px;
        @include offset();
        border-bottom: 1px solid transparent;
        transition: background-color .3s, border-color .3s;
        cursor: pointer;

        &:hover {
            background-color: $color3;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 36px;
            padding-bottom: 30px;
        }

        h2 {
            color: black;
            @include font(14, 30);
            text-transform: uppercase;
        }

        svg {
            stroke: black;
            width: 20px;
            height: 30px;
            will-change: transform;
            transform: rotate(90deg) translateX(-4px);
            transition: transform .3s;

            @include media-breakpoint-up(xl) {
                margin-left: 30px;
            }
        }
    }

    &__content {
        @include offset();
        overflow: hidden;
        transition: height .3s, margin .3s;

        @include media-breakpoint-up(xl) {
            padding: 0 $col-width * 2;
        }

        @include media-breakpoint-up(fhd) {
            padding: 0 $col-width * 3;
        }

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        a {
            margin: 20px 0;
        }

        p {
            color: black;
            @include font(14, 20);
            line-height: 1.4;
            margin: 20px 0;
        }
    }

    &.active {
        #{$root} {
            &__head {
                border-bottom: 1px solid $gray;

                svg {
                    transform: rotate(-90deg) translateX(4px);
                }
            }

            &__content {

                @include media-breakpoint-up(xl) {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}