mixin history-lead(props)
    .history-lead&attributes(attributes)
        h1 История школы
        .history-lead__content
            p 163 школа — одно из старейших учебных заведений Петербурга. В 2012/2013 учебном году она отметила свой юбилей: 215 лет со дня основания (в 1797 г.) Мариинского института как первоосновы и 175 лет со дня начала работы Мариинского института в стенах здания современной нам школы.
            +link-download({ text: 'Буклет к 220-летию со дня основания школы' })

