mixin info-section(props)
    .info-section&attributes(attributes)
        p Государственное бюджетное общеобразовательное учреждение средняя общеобразовательная школа № 163 Центрального района Санкт-Петербурга (ГБОУ школа № 163) является некоммерческой организацией — государственным бюджетным образовательным учреждением.
        .info-section__image
            +img({ src: '../../assets/images/home/2.jpg' })
        p Образовательное учреждение cоздано на основании распоряжения главы администрации Смольнинского района мэрии Санкт-Петербурга от 16.03.1994 № 497-р.
