include ../input/input

mixin search(props)
    form(data-url="/").search.hide&attributes(attributes)
        +svg('search').search__icon
        +input({
            name: 'search',
            placeholder: 'Введите запрос'
        }).search__input
