.search {
    $root: &;
    position: relative;
    display: flex;
    align-items: center;

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 14px;
        transition: margin-right .3s;
        cursor: pointer;
    }

    &__input {
        width: $col-width * 3.5;
        overflow: hidden;
        transition: width .3s;
    }

    &.hide {
        #{$root} {
            &__icon {
                margin-right: 0;
            }

            &__input {
                width: 0;
            }
        }
    }
}