include ../../components/header/header
include ../../components/footer/footer
include ../../components/search/search
include ../../components/input/input
include ../../components/latest-news/latest-news
include ../../components/news-card/news-card
include ../../components/home-hero/home-hero
include ../../components/info-section/info-section
include ../../components/year-section/year-section
include ../../components/school-structure/school-structure
include ../../components/link-button/link-button
include ../../components/teacher-section/teacher-section
include ../../components/link-contact/link-contact
include ../../components/sandwich/sandwich
include ../../components/news-list/news-list
include ../../components/teacher-card/teacher-card
include ../../components/teachers-list/teachers-list
include ../../components/teacher-about/teacher-about
include ../../components/link-back/link-back
include ../../components/paragraph/paragraph
include ../../components/slider/slider
include ../../components/about-lead/about-lead
include ../../components/link-section/link-section
include ../../components/info-section-2/info-section-2
include ../../components/history-lead/history-lead
include ../../components/link-download/link-download
include ../../components/history-section/history-section
include ../../components/image-annotate/image-annotate
include ../../components/post-lead/post-lead
include ../../components/video/video
include ../../components/collapse/collapse
include ../../components/image-section/image-section
include ../../components/sandwich-link/sandwich-link
include ../../components/modal/modal
include ../../components/modal-slider/modal-slider