.link-button {
    $root: &;
    position: relative;
    display: flex;
    align-items: center;
    color: $black;
    @include font(14, 20);
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;

    svg {
        width: 26px;
        height: 10px;
        stroke: $black;
        margin-left: 10px;
    }
}