include ../news-card/news-card

mixin latest-news(props)
    .latest-news&attributes(attributes)
        .latest-news__head
            h2.latest-news__head-title Новости
            .latest-news__head-right
                .latest-news__head-right-date 2010-2021
                a(href="#") Все новости
        .latest-news__list
            +news-card({
                image: '../../assets/images/home/news/1.jpg',
                date: '02 ноя. 20’',
                title: 'Бесплатные дистанционные консультации по речевому мастерству',
                description: 'Педагог дополнительного образования Евгений Владимирович Кожара предлагает бесплатные дистанционные консультации по речевому мастерству ученикам'
            }).latest-news__list-post
            +news-card({
                image: '../../assets/images/home/news/2.jpg',
                date: '14 окт. 20’',
                title: 'Выбираем территории в Центральном районе для благоустройства',
                description: 'В Центральном районе Петербурга стартовало рейтинговое голосование по выбору территорий, подлежащих благоустройству в первоочередном порядке до 2030 года. Голосование проходит в рамках регионального проекта «Формирование...'
            }).latest-news__list-post
            +news-card({
                image: '../../assets/images/home/news/3.jpg',
                date: '14 окт. 20’',
                title: 'День открытых дверей',
                description: '1 сентября на школьном стадионе состоялась торжественная линейка, посвященная Дню знаний. Из-за эпидемии короновируса в ней принимали участие только 1-е и 11-е классы.'
            }).latest-news__list-post
            +news-card({
                image: '../../assets/images/home/news/3.jpg',
                date: '11 окт. 20’',
                title: 'Новогодняя елка',
                description: 'С 16 по 22 декабря 2020 года в Государственном Кремлевском Дворце пройдет общероссийская новогодняя елкка (без зрителей), ее телевизионная съемка, а также трансляция на федеральных каналах в период зимних каникул 2020/21 учебного года.'
            }).latest-news__list-post
