.image-section {
    $root: &;
    position: relative;
    @include offset();

    img {
        width: calc(100% + 32px);
        height: 100%;
        object-fit: cover;
        margin-left: -16px;

        @include media-breakpoint-up(md) {
            width: 100%;
            margin-left: 0;
        }
    }
}