.teacher-paragraph {
    $root: &;
    position: relative;
    padding: 40px 16px;

    @include media-breakpoint-up(xl) {
        padding: 50px $col-width * 2;
    }

    & > {
        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    p {
        color: $black;
        @include font(14, 20);
        line-height: 1.2;
        margin: 20px 0;

        @include media-breakpoint-up(xl) {
            width: $col-width * 8;
            margin: 26px 0;
        }
    }
}